<div class="container">
  <div class="row justify-content-center">
    <div class="col-md-8">
      <div class="card">
        <img src="/images/{{post.photo}}" class="card-img-top" alt="{{post.title}}">
        <div class="card-body">
          <h5 class="card-title">{{post.title}}</h5>
          <p class="card-text">{{post.description}}</p>
          <p class="card-text">
            <small class="text-muted">点赞数: {{post.number_of_likes}}</small>
          </p>
          <a href="/" class="btn btn-primary">返回首页</a>
        </div>
      </div>
    </div>
  </div>
</div>