<h1>{{title}}</h1>
<hr />
<div class="container-fluid">
  <div class="row">

    {{#each posts}}
      <div class="col-xm-12 col-md-4 col-xxl-3">
        <div class="card m-2" style="width: 100%;">
          <a href="/viewpost/{{this.id}}">
            <img src="/images/{{this.photo}}" class="card-img-top" alt="..." />
          </a>
          <div class="card-body">
            <h5 class="card-title">{{this.title}}</h5>
            <p class="card-text">{{this.description}}</p>
            <p class="card-text"><b>{{this.number_of_likes}}</b> Likes</p>
            <a href="/viewpost/{{this.id}}" class="btn btn-primary">View Post</a>
          </div>
        </div>
      </div>
    {{/each}}
  </div>
</div>