<h1>{{post.title}}</h1>
<p class="text-center">Posted on {{post.date}}</p>
<hr />
<p>
  <img src="/images/{{post.photo}}" alt="{{post.title}}" class="img-fluid" />
</p>
<p>
  {{post.description}}
</p>
<p><b>{{post.number_of_likes}}</b> Likes</p>

<br />
<a href="/" class="btn btn-primary">Back</a>